@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url("https://images.unsplash.com/photo-1696385544566-032028025739?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1460&q=80");
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}